bottle==0.12.19
xmltodict==0.12.0
requests==2.12.4
bottle-postgresql==1.0.0
python-dotenv
pytest
pytest-mock
pytest-lazy-fixture==0.6.3
scikit-learn
scikit-image
opencv-python==4.5.3.56
psycopg2==2.9.1