:root {
    --highlight-color: #ec4f08;
    --body-bg-color: #262435;
    --dark-color: black;
    --light-color: white;
    --primary-color: #3f3a60;
    --primary-color-dark: #3b3c3f;
    --primary-color-light: #b6bacd;
    --primary-color-lighter: #dadbdf;
    --secondary-color: #a9aec7;
    --rating-color-best: #249563;
    --rating-color-good: #2fc482;
    --rating-color-ok: #1d8acd;
    --rating-color-neutral: #5369a2;
    --rating-color-bad: #df4751;
    --rating-color-worst: #db303b;
    --rating-color-none: #666e75;
}

body {
    background: var(--body-bg-color);
}

.fa.light, .far.light, .fas.light {
    color: var(--primary-color);
}

body,
body input,
body button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 i,
h2 i {
    color: var(--highlight-color);
}

.footer {
    text-align: center;
    font-size: .7em;
}

#sort_container .block {
    display: flow-root;
}
#sort_container .block h2 {
    display: inline-block;
}
#toggle_sort_filter_block {
    float: right;
    text-align: right;
    display: inline-block;
    font-size: 1.17em;
    line-height: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bg_head a,
.bg_head a:hover,
.bg_head a:active,
.bg_head a:focus,
.bg_head a:visited {
    color: white;
    text-decoration: none;
}

.block {
    padding: .5em 1em;
    margin-bottom: .5em;
}

.block-primary {
    background: var(--primary-color);
    color: var(--primary-color-lighter);
}

.color-lighter,
.color-lighter a,
.color-lighter a:hover,
.color-lighter a:active,
.color-lighter a:focus,
.color-lighter a:visited {
    color: var(--primary-color-lighter);
}

.block-primary a,
.block-primary a:hover,
.block-primary a:active,
.block-primary a:focus,
.block-primary a:visited {
    color: var(--primary-color-lighter);
}


.button,
.button:hover,
.button:active,
.button:focus,
.button:visited {
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.button,
.button:hover,
.button:active,
.button:focus,
.button:visited {
    background: var(--primary-color);
    color: var(--primary-color-lighter);
}

.button.asc:hover,
.button.desc:hover,
.button.hidden:hover,
.button:hover {
    background: var(--body-bg-color);
    color: var(--light-color);
}

.button.reverse-color,
.button.reverse-color:hover,
.button.reverse-color:active,
.button.reverse-color:focus,
.button.reverse-color:visited {
    color: var(--primary-color);
    background: var(--primary-color-lighter);
}

.toggle_tag.tag:hover,
.sort.tag:hover,
.button.reverse-color:hover {
    background: var(--light-color);
    color: var(--body-bg-color);
}

.button span.sep {
    margin-left: .5em;
    padding-left: .5em;
    border-left: 1px solid var(--primary-color-lighter);
}
.button:hover span.sep {
    border-left: 1px solid var(--primary-color);
}

.button.reverse-color span.sep {
    border-left: 1px solid var(--primary-color);
}
.button.reverse-color:hover span.sep {
    border-left: 1px solid var(--primary-color-lighter);
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
}

a:hover,
.bg_head a:hover,
.color-lighter a:hover,
.block-primary a:hover {
    text-decoration: underline;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-large .button,
.is-large input[type="text"]
{
    font-size: 1.2em;
    min-height: 1.2em;
}

#button-scroll-up {
    padding: 1em;
    background: var(--highlight-color);
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
    z-index: 50;
}

input[type="text"] {
    border-radius: 5px;
    border: 0;
    padding: .3em .5em;
    color: var(--primary-color);
}

.add_user_field input{
    margin-right: .5em;
}

.add_user_field:not(:last-child) {
    margin-bottom: .2em;
}

.user_stats div {
display: inline-block;
}

.comment {
    position: relative;
    z-index: 5;
    background: linear-gradient(0deg, var(--primary-color-light), var(--primary-color-lighter));
    color: var(--primary-color-dark);
    margin: .5em 0 0 0;
    padding: .2em .5em;
}

.comment-arrow {
    position: relative;
    z-index: 3;
    background: var(--primary-color-lighter);
    margin: 0 0 -20px 10px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.comment_timestamp {
    font-size: .7em;
    margin-top: .5em;
    float: right;
    color: var(--primary-color-dark);
}

.bg_title {
    font-size: 1.4em;
}

.clickable {
    cursor: pointer;
}

.button {
    background: var(--primary-color);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: .3em .5em;
    border: 0;
    color: var(--primary-color-lighter);
    font-weight: 100;
}

.button.is-bold {
    font-weight: 700;
}

.button.icon-only {
    border-radius: 5px;
    min-width: 40px;
    padding: 0;
    font-size: 1em;
    min-height: auto;
}

.tag {
    border-radius: 5px;
    padding: .2em .5em;
    background: var(--primary-color-dark);
    display: inline-block;
}

.tag-own         {color: var(--dark-color); background: var(--primary-color-lighter);}
.tag-fortrade,
.tag-preordered,
.tag-prevowned   {color: var(--dark-color); background: var(--primary-color-light);}
.tag-want,
.tag-wanttoplay,
.tag-wanttobuy,
.tag-wishlist1,
.tag-wishlist2,
.tag-wishlist3,
.tag-wishlist4  {color: var(--primary-color); background: var(--primary-color-light);}
.tag-wishlist5  {color: var(--primary-color-lighter); background: var(--highlight-color);}

.deactivated {
    color: #8a8a8a !important;
    background: #cecece !important;
    cursor: default !important;
}
.deactivated:hover {
    color: #8a8a8a !important;
    background: #cecece !important;
    cursor: default !important;
}
.deactivated .ui-slider-handle {
    color: #8a8a8a !important;
    background: #8a8a8a !important;
    cursor: default !important;
}

.rating {
    color: white;
    font-weight: 700;
}

.diff-rating-0,
.rating-10,
.rating-10.hexagon,
.rating-9.hexagon,
.rating-8.hexagon,
.rating-9 {background: var(--rating-color-best)}
.diff-rating-1,
.rating-8 {background: var(--rating-color-good)}
.diff-rating-2,
.rating-7.hexagon,
.rating-7 {background: var(--rating-color-ok)}
.diff-rating-3,
.rating-6,
.rating-6.hexagon,
.rating-5.hexagon,
.rating-5 {background: var(--rating-color-neutral)}
.diff-rating-4,
.rating-4,
.rating-4.hexagon,
.rating-3.hexagon,
.rating-2.hexagon,
.rating-1.hexagon,
.rating-3 {background: var(--rating-color-bad)}
.diff-rating-5,
.diff-rating-6,
.diff-rating-7,
.diff-rating-8,
.diff-rating-9,
.diff-rating-10,
.rating-2,
.rating-1 {background: var(--rating-color-worst)}
.rating-0,
.rating-none {background: var(--rating-color-none); color: var(--primary-color-lighter)}

.rating-10.hexagon:before,
.rating-9.hexagon:before,
.rating-8.hexagon:before { border-bottom-color: var(--rating-color-best)}
.rating-10.hexagon:after,
.rating-9.hexagon:after,
.rating-8.hexagon:after { border-top-color: var(--rating-color-best)}
.rating-7.hexagon:before { border-bottom-color: var(--rating-color-ok)}
.rating-7.hexagon:after { border-top-color: var(--rating-color-ok)}
.rating-6.hexagon:before,
.rating-5.hexagon:before { border-bottom-color: var(--rating-color-neutral)}
.rating-6.hexagon:after,
.rating-5.hexagon:after { border-top-color: var(--rating-color-neutral)}
.rating-4.hexagon:before,
.rating-3.hexagon:before,
.rating-2.hexagon:before,
.rating-1.hexagon:before { border-bottom-color: var(--rating-color-worst)}
.rating-4.hexagon:after,
.rating-3.hexagon:after,
.rating-2.hexagon:after,
.rating-1.hexagon:after { border-top-color: var(--rating-color-worst)}
.rating-0.hexagon:before,
.rating-none.hexagon:before { border-bottom-color: var(--rating-color-none)}
.rating-0.hexagon:after,
.rating-none.hexagon:after { border-top-color: var(--rating-color-none)}

.hexagon {
    position: relative;
    width: 2em;
    height: calc(2em * 0.288666667 * 2);
    margin: calc(2em * 0.288666667) 0;
    text-align: center;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: calc(2em / 2) solid transparent;
    border-right: calc(2em / 2) solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: calc(2em * 0.288666667) solid;
    left: 0;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: calc(2em * 0.288666667) solid;
    left: 0;
}

.container {
    margin: 2em auto 2em auto;
    padding: .5em;
    width: calc(100% - 1em);
    background: var(--secondary-color);
}

.container h3,
.container h4 {
    color: var(--primary-color);
}

#sort_container div:not(:last-child) {
    margin-bottom: .2em;
}

.tooltip {
    position: relative;
    text-decoration: none;
}
.tooltip:after {
    z-index: 50;
    border-radius: 5px;
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 20%;
    background: var(--primary-color-lighter);
    padding: .2em .5em;
    color: black;
    white-space: nowrap;
    display: none;
    font-weight: 100;
}
.tooltip:hover:after {
    display: block;
}

span.error {
    font-family: monospace;
    background: var(--primary-color-lighter);
    font-size: .8em;
    padding: .2em .5em;
    border-radius: 5px;
}

.sort,
.toggle_tag{
    cursor: pointer;
    color: var(--primary-color);
    background: var(--primary-color-lighter);
}

i.fas.fa-check-circle {
    color: var(--highlight-color);
}

.sort i,
.toggle_tag i {
    min-width: 20px;
    text-align: center;
}

.toggle_tag.hidden {
    color: var(--primary-color-lighter);
    background: var(--primary-color);
}

.sort.asc,
.sort.desc {
    color: var(--primary-color-lighter);
    background: var(--primary-color);
}

#toggle_combined_slider .ui-slider-handle {
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    margin-top: 2px;
}

#toggle_combined_slider .ui-slider-handle:hover,
#toggle_combined_slider .ui-slider-handle:active {
    background: #ec4f07;
    border: none;
}

#toggle_combined_slider {
    background: var(--primary-color-lighter);
    border: none;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 .8em 0 .8em;
}

.grid_collection span {
    width: 30%;
    display: inline-block;
}

.wrapper_loading_status {
    display: grid;
    grid-template-columns: 1fr;
}

.wrapper_loading_status .grid_header {
    grid-column: 1;
    padding: .5em 1em;
}

.wrapper_loading_status .grid_add_user {
    grid-column: 1;
    padding: .5em 1em;
    text-align: right;
}

.wrapper_loading_status .grid_message {
    grid-column: 1;
    margin: auto 0 auto 0;
}

.wrapper_loading_status .grid_title {
    grid-column: 1;
    font-size: 1.5em;
    margin: 1em 0 .5em 0;
}
.wrapper_loading_status .grid_title em {
    display: none;
}

.wrapper_loading_status .grid_collection {
    grid-column: 1;
    margin: auto 0 auto 0;
}
.wrapper_loading_status .grid_rating {
    grid-column: 1;
    margin: auto 0 auto 0;
    text-align: center;
}

.wrapper_loading_status .grid_diff_ratings {
    grid-column: 1;
    margin: auto 0 auto 0;
}

.grid_diff_ratings div {
    margin: 1;
    padding: 0;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    grid-template-rows: max-content;
    margin: 2em auto 2em auto;
    width: 100%;
}
.wrapper .bg_head,
.wrapper .bg_stats,
.wrapper .user_calc,
.wrapper .user_info {
    padding: .5em .5em .2em .5em;
}

.bg_head {
    grid-column: 1;
    grid-row: 2;
    color: var(--primary-color-lighter);
}
.bg_img {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.bg_img img {
    max-width: 150px;
}
.user_calc {
    grid-column: 1;
    grid-row: 3;
}
.user_info {
    grid-column: 1;
    grid-row: 4;
    background: var(--secondary-color);
}

.wrapper_user_stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 .3em 0;
}
.user_name {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto 0;
}
.user_tags {
    grid-column: 2;
    grid-row: 1;
}
.user_tags div {
    float:right;
}
.user_rating {
    grid-column: 1;
    grid-row: 2;
}
.user_diff_rating {
    grid-column: 2;
    grid-row: 2;
}
.user_comment {
    grid-column: 1/3;
    grid-row: 3;
}
.wrapper_bg_head {
    display: grid;
    grid-template-columns: 40px 2fr;
    grid-template-rows: min-content;
}
.grid_bg_rating {
    grid-column: 1;
    grid-row: 1;
}
.grid_bg_title {
    grid-column: 2;
    grid-row: 1;
}
.grid_bg_info {
    grid-column: 1/3;
    grid-row: 2;
}
.grid_bg_players {
    grid-column: 1/3;
    grid-row: 3;
}
.grid_bg_time {
    grid-column: 1/3;
    grid-row: 4;
}

.comment-arrow {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .container {
        width: calc(90% - 1em);
    }
    .wrapper {
        width: 90%;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        width: calc(80% - 1em);
    }
    .wrapper {
        width: 80%;
    }
}

@media (min-width: 600px) {
    .button.icon-only {
        border-radius: 3px;
        min-width: 25px;
    }
    .comment-arrow {
        display: block;
    }
    .wrapper_loading_status {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .5fr;
    }

    .wrapper_loading_status .grid_header {
        grid-column: 1/3;
        padding: .5em 1em;
    }

    .wrapper_loading_status .grid_add_user {
        grid-column: 3/5;
        padding: .5em 1em;
        text-align: right;
    }

    .wrapper_loading_status .grid_message {
        grid-column: 1/5;
        margin: auto 0 auto 0;
    }

    .wrapper_loading_status .grid_title {
        grid-column: 1;
        font-size: 1em;
        margin: auto 0 auto 0;
    }
    .wrapper_loading_status .grid_title em {
        display: inline;
    }
    .wrapper_loading_status .grid_collection {
        grid-column: 2;
        margin: auto 0 auto 0;
    }
    .wrapper_loading_status .grid_rating {
        grid-column: 3;
        margin: auto 0 auto 0;
        text-align: right;
    }

    .wrapper_loading_status .grid_diff_ratings {
        grid-column: 4;
        margin: auto 0 auto 0;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 150px 1fr 3fr;
        grid-gap: 2px;
        grid-template-rows: max-content;
        margin: 2em auto 2em auto;
    }

    .bg_head {
        grid-column: 2;
        grid-row: 1 / 3;
    }
    .bg_img {
        grid-column: 1;
        grid-row: 1 / 3;
        margin: 0 auto auto auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .bg_img img {
        max-width: 150px;
    }
    .user_calc {
        grid-column: 3;
        grid-row: 1;
    }
    .user_info {
        grid-column: 3;
        grid-row: 2;
    }

    .wrapper_user_stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 0 .3em 0;
    }
    .user_name {
        grid-column: 1;
        grid-row: 1;
        margin: auto 0;
    }
    .user_tags {
        grid-column: 4;
        grid-row: 1;
    }
    .user_tags div {
        float:right;
    }
    .user_rating {
        grid-column: 2;
        grid-row: 1;
    }
    .user_diff_rating {
        grid-column: 3;
        grid-row: 1;
    }
    .user_comment {
        grid-column: 1/5;
        grid-row: 2;
    }
    .wrapper_bg_head {
        display: grid;
        grid-template-columns: 40px 2fr;
        grid-template-rows: min-content;
    }
    .grid_bg_rating {
        grid-column: 1;
        grid-row: 1;
    }
    .grid_bg_title {
        grid-column: 2;
        grid-row: 1;
    }
    .grid_bg_info {
        grid-column: 1/3;
        grid-row: 2;
    }
    .grid_bg_players {
        grid-column: 1/3;
        grid-row: 3;
    }
    .grid_bg_time {
        grid-column: 1/3;
        grid-row: 4;
    }
}